.contact__form {
    font-family: var(--links-font);
}

.contact__form__element {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
    border: none;
}

.contact__form__label,
.contact__form__element > h4 {
    font-style: italic;
    margin-bottom: 10px;
}

.contact__form__element > h4 {
    font-weight: lighter;
}

.contact__form__element textarea {
    height: 150px;
}

.contact__form__referral-options > div {
    margin-top: 5px;
}

.contact__form__element--checkbox {
    flex-direction: row;
    align-items: center;
}

.contact__form__element--checkbox input[type="checkbox"] {
    margin-left: 5px;
    margin-bottom: 10px;
}

.contact__form__input {
    height: 40px;
    border: 1px solid var(--clr-text);
    padding: 10px;
}

.contact__form__input::placeholder {
    font-family: var(--links-font);
}

.btn {
    background-color: var(--main-bg-clr);
    color: var(--clr-text);
    font-family: var(--links-font);
    text-transform: uppercase;
    font-weight: lighter;
    font-size: 1.4rem;
    letter-spacing: 0.15rem;
    padding: 10px 30px;
    border-radius: 5px;
    box-shadow: rgba(0, 0, 0, 0.1) 0 2px 4px;
    border: none;
    cursor: pointer;
    margin-right: 10px;
}

.btn.btn-secondary {
    background-color: transparent;
    box-shadow: rgba(0, 0, 0, 0.1) 1px 1px 5px 1px;
    border: 10px solid var(--secodary-bg-clr);
}

.btn:hover {
    background-color: var(--secondary-bg-clr);
    color: var(--clr-text-reverse);
}

.contact__form > .contact__form__btns {
    text-align: center;
}

@media screen and (min-width: 768px) {
    .contact > .wrapper {
        max-width: 768px;
    }

    .contact__form {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 20px;
    }

    .contact__form__element__full {
        grid-column: 1/3;
    }

    .contact__form__btns {
        grid-column: 1/3;
    }
}
