:root {
    --clr-text: #0a0903;
    --clr-text-reverse: #e7ecef;
    --main-font: "Lora", serif;
    --links-font: "Open Sans", sans-serif;
    --active-clr: #f2a359;
    --main-bg-clr: #d4ece6;
}

/*--------Global styles-------*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.6%;
    scroll-behavior: smooth;
}

body {
    font-size: 1.4rem;
    line-height: 1.5;
    font-weight: 300;
    font-family: var(--main-font);
}

main > section {
    margin-bottom: 100px;
}

a {
    text-decoration: none;
}

ul {
    list-style: none;
}

h1,
h3 {
    text-transform: lowercase;
    font-weight: lighter;
    letter-spacing: 0.2rem;
}

.wrapper {
    width: 80%;
    max-width: 120rem;
    margin: 0 auto;
}

.wrapper h3 {
    padding-bottom: 40px;
    text-align: center;
    font-size: 2.2rem;
}

/*--------Header-------*/
.header {
    padding: 10px 0;
}

.header > .wrapper {
    display: flex;
    padding: 10px 0;
    justify-content: space-between;
    align-items: center;
}

.header .header__logo {
    width: 70px;
}

.header__logo img {
    width: 100%;
    text-align: center;
}

.header__nav {
    display: none;
}
/*--------Banner-------*/
.banner {
    height: 60vh;
    background-image: linear-gradient(
            rgba(255, 255, 255, 0.5),
            rgba(255, 255, 255, 0.5)
        ),
        url(/assets/mae-mu-vbAEHCrvXZ0-unsplash-dk_pkp7mp_c_scale\,w_686.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.banner > .wrapper {
    height: 100%;
    display: flex;
    align-content: center;
    justify-content: center;
    flex-wrap: wrap;
}

.banner .banner__textCont > h1 {
    font-size: 5rem;
}

.banner .banner__textCont > h2 {
    font-family: var(--links-font);
    text-transform: uppercase;
    font-weight: lighter;
    font-size: 1.4rem;
}

/*--------Footer-------*/
.footer {
    background-color: #627f78;
    color: var(--clr-text-reverse);
    padding: 40px 0 20px;
}

.footer__content .footer__content__logo {
    width: 70px;
}

.footer__content__logo img {
    width: 100%;
    text-align: center;
}

.footer .footer__content__social {
    display: flex;
    justify-content: space-between;
    width: 120px;
    margin-top: 20px;
}

.footer__content__social__list a {
    display: block;
    max-width: 16px;
}

.footer__content__social__list a > img {
    width: 100%;
}

.copyright {
    text-align: center;
    margin-top: 40px;
    text-transform: uppercase;
    font-family: var(--links-font);
}
